﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px ;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;

}

div.ng-submitted .ng-invalid{
    border: 1px solid red ;
}
div.item-form .fill-in-fields{
    display: none ;
}
div.ng-submitted div.fill-in-fields{
    display: block ;
    color: red ;
}
a{
    cursor: pointer ;
}