﻿@{
    ViewBag.Title = "Home Page";
}

<div ng-app="assetsApp">

    <div ng-view></div>

    <script type="text/ng-template" id="/Index.html">
        <form class="navbar-form navbar-left" role="search">
            <a class="btn btn-default" href="#/New" role="button">New Asset</a>
        </form>

        <table class="table">
            <tr>
                <th>Title</th>
                <th>Created on</th>
            </tr>
            <tr ng-repeat="item in main.Items">
                <td><a href="#/Edit/{{item.Id}}">{{item.FileName}}</a></td>
                <td>{{item.CreatedOn | date: 'yyyy-MM-dd HH:mm'}}</td>
                <td><button class="btn btn-default" ng-click="main.Delete(item.Id)">Delete</button></td>
            </tr>
        </table>

        <nav ng-show="main.ShowPagination" aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a ng-click="main.PrevPage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="page in main.Pages"><a  ng-click="main.OpenPage(page)">{{page}}</a></li>
                <li>
                    <a ng-click="main.NextPage()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </script>

    <script type="text/ng-template" id="/Edit.html">
        <div ng-form="itemForm" class="item-form">
            <div ng-show="!main.$scope.itemForm.$valid" class="panel panel-default fill-in-fields">
                <div class="panel-body">
                    <div class="">Please, fill in all the required fields.</div>
                </div>
            </div>

            <div class="form-group">
                <label for="MimeType">Mime Type</label>
                <input type="text" class="form-control" ng-required="true" ng-model="main.Item.MimeType.Name" name="MimeType_Name" id="MimeType" placeholder="MimeType">
            </div>
            <div class="form-group">
                <label for="Country">Country</label>
                <input type="text" class="form-control" ng-required="true" ng-model="main.Item.Country.Name"  name="Country_Name"  id="Country" placeholder="Country">
            </div>
            <div class="form-group">
                <label for="FileName">FileName</label>
                <input type="text" class="form-control" ng-required="true" ng-model="main.Item.FileName"  name="FileName"  id="FileName" placeholder="FileName">
            </div>
            <div class="form-group">
                <label for="CreatedBy">CreatedBy</label>
                <input type="text" class="form-control" ng-required="true" ng-model="main.Item.CreatedBy" name="CreatedBy"   id="CreatedBy" placeholder="CreatedBy">
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" ng-required="true" ng-model="main.Item.Email"  name="Email"  id="Email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea type="text" class="form-control" ng-required="true" ng-model="main.Item.Description"  name="Description"  id="Description" placeholder="Description"></textarea>
            </div>
            <div class="form-group">
                <label for="CreatedOn">CreatedOn</label>: {{Item.CreatedOn | date: 'yyyy-MM-dd HH:mm'}}
            </div>

            <button type="button" ng-click="main.Save()" class="btn btn-default">Save</button>
            <a class="btn btn-default" href="#/" role="button">Cancel</a>
        </div>

    </script>


</div>